# SupabaseプロジェクトのURL
NEXT_PUBLIC_SUPABASE_URL=

# Supabaseの公開キー
NEXT_PUBLIC_SUPABASE_ANON_KEY=

# SupabaseプロジェクトのRef ID
SUPABASE_PROJECT_REF=

# Supabase Management APIトークン
SUPABASE_ACCESS_TOKEN=

# Wake APIの簡易認証トークン
CRON_SECRET=

# フロントエンドからWake APIを叩くためのトークン
NEXT_PUBLIC_CRON_SECRET=
